<div class='h-full w-full flex flex-col gap-5 justify-center items-center'>
  <div class='prose'>
    <h2>Sign In</h2>
    <p>Sign in now</p>
  </div>
  <%= form_with url: session_url, class: 'w-1/4 form-control gap-5' do |form| %>
    <%= form.email_field :email_address, class: 'input input-primary', placeholder: 'email_address', required: true %>
    <%= form.password_field :password, class: 'input input-primary', placeholder: 'password', required: true %>
    <%= form.submit 'Sign In', class: 'btn btn-primary' %>
  <% end %>

  <h3> Or login with Google</h3>
  <%= button_to "Sign up with Google", "/auth/google_oauth2", data: { turbo: false }, class: 'btn btn-primary' %>
</div>
