<div class="card bg-base-100 border border-black shadow-lg" id="<%= dom_id board %>">
  <div class="card-body">
    <h2 class="card-title">
      <%= board.title %>
    </h2>
    <p><%= truncate(board.description, length: 40) %></p>
    <small><%= board.website %></small>
    <div class="card-actions justify-end">
      <%= link_to portal_board_features_path(board), class: "btn btn-neutral" do %>
        Features
        <%= lucide_icon('folder-input') %>
      <% end %>
    </div>
  </div>
</div>
