<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Boards" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Boards</h1>
    <%= link_to "New board", new_portal_board_path, class: "btn btn-primary" %>
  </div>

  <div id="boards" class="min-w-full">
    <% @boards.each do |board| %>
      <%= render board %>
      <p>
        <%= link_to "Show this board", [:portal, board], class: "btn" %>
        <%= link_to "Show this board features", portal_board_features_path(board), class: "btn" %>
      </p>
    <% end %>
  </div>
</div>
