<nav class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Ulasan</a>
  </div>
  <div class="flex-none gap-2">
    <ul class="menu bg-base-200 lg:menu-horizontal rounded-box">
      <li>
        <%= link_to root_path do %>
          <%= lucide_icon("layout-dashboard") %>
          Home
        <% end %>
      </li>
      <li>
        <%= link_to root_path do %>
          <%= lucide_icon("bell-ring") %>
          Notification
          <span class="badge badge-sm">99+</span>
        <% end %>
      </li>
      <li>
        <%= link_to root_path do %>
          <%= lucide_icon("bar-chart-big") %>
          Stats
          <span class="badge badge-xs badge-info"></span>
        <% end %>
      </li>
    </ul>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
          alt="Tailwind CSS Navbar component"
          src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
