<nav class="navbar">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Ulasan</a>
  </div>
  <div class="flex-none gap-2">
    <!-- Desktop Menu -->
    <ul class="menu hidden bg-base-200 md:menu-horizontal rounded-box lg:flex">
      <li>
        <%= link_to root_path do %>
          <%= lucide_icon("layout-dashboard") %>
          Home
        <% end %>
      </li>
      <li>
        <%= link_to root_path do %>
          <%= lucide_icon("bar-chart-big") %>
          Stats
        <% end %>
      </li>
      <li>
        <%= link_to root_path do %>
          <%= lucide_icon("bell-ring") %>
          Notification
          <span class="badge badge-info badge-sm">99+</span>
        <% end %>
      </li>
    </ul>
    <!-- Mobile Dropdown -->
    <div class="dropdown dropdown-end md:hidden">
      <div tabindex="0" role="button" class="btn btn-ghost">
        <%= lucide_icon("menu") %>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 p-2 shadow">
        <li>
          <%= link_to root_path do %>
            <%= lucide_icon("layout-dashboard") %>
            Home
          <% end %>
        </li>
        <li>
          <%= link_to root_path do %>
            <%= lucide_icon("bar-chart-big") %>
            Stats
          <% end %>
        </li>
        <li>
          <%= link_to root_path do %>
            <%= lucide_icon("bell-ring") %>
            Notification
            <span class="badge badge-info badge-sm">99+</span>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
          alt="User avatar"
          src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 p-2 shadow">
        <li><a>Profile</a></li>
        <li><a>Settings</a></li>
        <li>
          <%= link_to 'Logout', session_path, data: { turbo_method: :delete } %>
        </li>
      </ul>
    </div>
  </div>
</nav>
