<div class="card bg-base-100 border border-black shadow-lg" id="<%= dom_id feature %>">
  <div class="card-body">
    <h2 class="card-title">
      <%= feature.title %>
    </h2>
    <p><%= truncate(feature.description, length: 40) %></p>
    <div class="card-actions flex-col justify-end">
      <%= link_to [:portal, @board, feature], class: "btn btn-neutral" do %>
        Comments
        <%= lucide_icon('folder-input') %>
      <% end %>
    </div>
  </div>
</div>
