<div id="<%= dom_id feature %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= feature.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= feature.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= feature.category %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Vote count:</strong>
    <%= feature.vote_count %>
  </p>

</div>
