<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @feature %>

    <%= link_to "Edit this feature", edit_portal_board_feature_path(@board, @feature), class: "btn btn-primary" %>
    <%= link_to "Back to features", portal_boards_path, class: "btn" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this feature", [:portal, @board, @feature], method: :delete, class: "btn btn-error" %>
    </div>
  </div>
</div>
