<%= link_to board_path(board.appname) do %>
  <div id="<%= dom_id board %>">
    <div class="card border">
      <div class="card-body">
        <h2 class="flex justify-between">
          <div class="card-title">
            <%= lucide_icon("layout-dashboard") %>
            <%= board.appname %>
          </div>
        </h2>
        <small class="italic"><%= board.website %></small>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="divider divider-neutral">features
          <span class="badge badge-outline"><%= board.features.count %></span>
        </div>
        <div class="card-actions justify-start">
          <div class="badge badge-outline">open: <%= board.features.open.count %></div>
          <div class="badge badge-outline">interesting: <%= board.features.interesting.count %></div>
          <div class="badge badge-outline">closed: <%= board.features.closed.count %></div>
          <div class="badge badge-outline">in-development: <%= board.features.in_development.count %></div>
          <div class="badge badge-outline">closed: <%= board.features.closed.count %></div>
        </div>
      </div>
    </div>
  </div>
<% end %>
