<%= form_with(model: board, class: "form-control") do |form| %>
  <% if board.errors.any? %>
    <div id="error_explanation" role="alert" class="flex flex-col mt-5 items-start alert alert-error">
      <div class="flex justify-start space-x-3">
        <%= lucide_icon("triangle-alert") %>
        <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>
      </div>

      <ul class="list-disc list-inside">
        <% board.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-3">
    <%= form.label :appname, class: "label" %>
    <%= form.text_field :appname, class: "block w-full input input-bordered" %>
  </div>

  <div class="my-3">
    <%= form.label :description, class: "label" %>
    <%= form.text_area :description, rows: 2, class: "w-full textarea textarea-bordered" %>
  </div>

  <div class="my-3">
    <%= form.label :website, class: "label" %>
    <%= form.text_field :website, class: "block w-full input input-bordered" %>
  </div>

  <div class="my-3">
    <%= form.label :company, class: "label" %>
    <%= form.text_field :company, class: "block w-full input input-bordered" %>
  </div>

  <div class="my-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
